a.p-menuitem-link-active{
  .p-menuitem-text{

    font-weight: 900;
  }
}

a.app-title{
  color: var(--text-color);
  text-decoration: none;
}

.profile-dropdown{
  .username{
    font-weight: 900 !important;
  }
  font-weight: 900 !important;

}
